<div id="<%= dom_id adventure %>">
  <p>
    <strong>Title:</strong>
    <%= adventure.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= adventure.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= adventure.when_went %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= adventure.country_id %>
  </p>

</div>
